<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee System</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




    <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
    <link rel="stylesheet" media="screen, print" href="/css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="/css/app.bundle.css">
    <link rel="stylesheet" media="screen, print" href="/css/toastr.css">
    <link rel="stylesheet" href="/css/theme-basic.css">
    <link rel="stylesheet" href="/css/theme-glasss.css">
    <link rel="stylesheet" media="screen, print" href="/css/fa-brands.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">



    <!-- <link rel="stylesheet" media="screen, print" href="/css/toastr-rtl.css">-->




</head>
<body>

    @RenderBody()


    <!--
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/js/vendors.bundle.js"></script>
    <script src="/js/app.bundle.js"></script>
    <script src="/js/toastr.js"></script>
    <script src="/js/bundle.js"></script>
    <script src="/js/calendar_js.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    </body>
</html>

